@page "{urlSlug}"
@model Colonize.Website.ProductModel
@{
    ViewData["Title"] = "Product";
}

<h1>@Model.Product.Name</h1>


<img src="@Model.Product.ImageUrl" />

<form method="post">
    <input type="hidden" asp-for="Product.Id" /> <!--Bind id and send it on-->
    <button>Add to basket</button>
</form>