@page
@model Colonize.Website.Pages.Admin.Ship.IndexModel
@{
    ViewData["Title"] = "Ships";
}

    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-page="/Ship/New" class="btn btn-primary float-right">Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Passenger capacity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var ship in Model.Ships)
                    {
                        <tr>
                            <td>@ship.Name</td>
                            <td>@ship.PassengerCapacity</td>
                            <td>
                                <a asp-area="Admin" asp-page="/Ship/Edit" asp-route-id="@ship.Id" class="btn btn-info">
                                    Edit
                                </a>
                                <a asp-area="Admin" asp-page="/Ship/Delete" asp-route-id="@ship.Id" class="btn btn-danger">
                                    Delete
                                </a>
                            </td>   
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>